<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-cover bg-fixed bg-center h-screen" style="background-image: url(<%= image_url('header.png') %>)">
    <main class="h-screen pl-6 pr-6">
      <%= render "layouts/header" %>
      <%= render partial: "layouts/flash" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </main>
  </body>
</html>
